.wrapper {
    position: relative;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition:
        background-color,
        scale 0.1s ease;
    cursor: pointer;

    svg {
        width: 18px;
        height: 18px;
    }

    path {
        fill: black;
    }

    &:active {
        background-color: #a1a1a1;
        scale: 0.95;
    }
}

.textArea {
    width: 100%;
    border-radius: 30px;
    min-height: 80px;
    max-height: 150px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    border: 2px solid transparent;
    transition: border 0.3s ease;

    &::placeholder {
        color: #aaa;
    }

    & :active,
    &:focus {
        border: 2px white solid;
    }
}
